body{
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 150px;
}

img{
	display: flex;
	margin: auto;
	max-height: 50vh;
}

footer{
	color: #ffffff;
	background-color: #0047ab;
	opacity: .9;
	width: 100%;
	text-align: center;
	line-height: 30px;
}

.blurry-image {
	max-width: 100%;
	max-height: 60vh;
	filter: blur(8px);
}

.blur-container {
	overflow: hidden;
	background-color: black;
}

.logo-overlay {
	width: 100%;
	max-height: 30vh;
	margin: auto;
    position: absolute;
    z-index: 10;
	object-fit: contain;
	top: 0;
}